<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="nav-icon icon-speedometer"></i> Dashboard
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Publicacoes">
                <i class="nav-icon icon-list"></i> Publicações
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Editais">
                <i class="nav-icon icon-docs"></i> Editais
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Sentencas">
                <i class="nav-icon fa fa-gavel"></i> Sentenças
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Favoritos">
                <i class="nav-icon icon-star"></i> Favoritos
            </a>
        </li>
    </ul>
</nav>
